@{
    ViewBag.Title = "Online FIR System";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}

@model List<Online_FIR.Models.User>

<h3>A New Way to Register FIR</h3>
<ol class="round">
    <li class="one">
        <h3>Our System</h3>
        The FIR System accepts online Internet crime complaints from either the 
        actual victim or from a third party to the complainant. 
        We can best process your complaint if we receive accurate and complete
        information from you. Therefore, we request that you provide the
         following information when filing a complaint: 

    </li>

    <li class="two">
        <h3>Crime Chart</h3>
        This FIR system provides you the facility of Crime Chart to enable you to 
        see the latest Crimes in your city ,in your Area and in your surroundings.
        Time and Date will also be there to help you to keep you update to the crimes.
       
    </li>

    <li class="three">
        <h3>File a FIR</h3>
       You can file a FIR here ..and this will be gone to your nearest Police Station and from 
        there your relevent SHO will guide you for the further steps..
    </li>
</ol>

