@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>

<p>Your FIR ID id </p>
<p>Your FIR Has been successfully registered .</p>
<p>Our Operator will soon make contact with you.</p>

@Html.ActionLink("File Another FIR", "RegisterFIR")